@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@700&family=PT+Sans&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
#fixed{
    display: block;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
h2{
    text-align: center;
    font-weight: 500;
}
a{
    color: black;
}

#content{
    display: inline-flex;
    justify-content: center;
    gap: 10px;
    background-color: #333333;
    color: white;
    width: 100%;
    
   
    
    
}


.showcontent{
    height: 500px;
    background-color: khaki;
    display: none;
pointer-events: none;

   
}


#content p{
    font-size: 14px;

}
#content>p:hover{
    color: gainsboro;
}


#recentView{
    width: 100%;
    text-align: center;
    background-color: #f3f3f3;
    padding: 30px;
}
#recentProduct{
    display:flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 20px;
    
}
#recentView a{
    color: #363638;
    font-weight: 600;
}
#recentProduct>div{
    background-color: white;
    width: 27%;
}
#recentView h2{
    font-size: 24px;

}
.leftDiv{

    width: 240px;

    background-color: #f3f3f3;
    cursor: pointer;
    padding: 10px;
    }
    .leftdiv a{
        padding: 10px;
    }
    .rightDiv{
        display: flex;

        
    }
    .mainDiv{
        display: flex;

        width: 100%;
        justify-content: center;
        display: flex;
        margin: auto;
        text-transform: uppercase;
        text-align: center;
        color: black;
        
    }
    .mainDiv h4{
        padding: 0;
        background-color: none;
    
    }
    .mainDiv a{color: black;

    }